{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content %}
<div class="rect3">
    <h2 class="head1">Welcome to APD’S Book Locator</h2>
    <p class="a">Lorem ipsum dolor sit amet, everti oportere pericula sit an, at eros iudico omittantur pri. Admodum lobortis ne vis, vero minimum in usu, iusto fabellas gubergren eam ex. Possit moderatius mel id. Ius prompta vituperata philosophia ad, cum in atomorum urbanitas. Et ius magna erroribus expetendis, propriae accusata est ex. Ut noster omnium aliquam nam. Summo nostro consulatu ei mel. Nihil apeirian torquatos usu ut. Tantas eirmod gloriatur ne qui, nam veri soleat possim in. Ad fugit tincidunt reformidans usu. Duo at quis pericula, natum ceteros id cum. Mei postea animal molestie at, exerci persius voluptua vel ne, assum fabulas contentiones ei eam. Id quem vidit mea. Eu est vidisse iracundia, nec enim bonorum debitis no. Eirmod tamquam discere vel ut, sit cibo falli prodesset ad. Cibo exerci omittam mei ad, magna erant efficiendi ne per, nibh numquam sensibus ea sed.
    </p>
</div>
{% endblock %} 